.app.light {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #0e0e75;
  --primary-color: #6980c5;
  --secondary-color: #0449e0;
  --inverted-primary-color: #59c6bf;
  --inverted-secondary-color: #04ff04;
}
